---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1600%20Main%20Street,%20Venice%20CA%2090291&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1600",
                       "short_name" : "1600",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Main Street",
                       "short_name" : "Main St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Venice",
                       "short_name" : "Venice",
                       "types" : [ "sublocality", "political" ]
                    },
                    {
                       "long_name" : "L[...]
