<% if current_user %>
  <p>Signed in as <%= current_user.email %></p>
  <%= link_to "Sign out", signout_path, id: "sign-out" %>
<% else %>
  <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign-in" %>
<% end %>
