<header>
  <div class='inner'>
    <h1>{{#linkTo 'rentals'}}Rentapolis{{/linkTo}}</h1>
    <nav>
      {{#linkTo 'neighborhoods'}}Neighborhoods{{/linkTo}}
      {{#linkTo 'prospects'}}Prospects{{/linkTo}}
      {{#linkTo 'account'}}Account{{/linkTo}}
    </nav>
  </div>
</header>
<div id='content'>
  {{outlet}}
</div>
