@mixin page-width {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

html, body {
  background-color: $off-white;
  height: 100%;
}

header {
  text-align: center;
  margin-bottom: 3em;

  .inner {
    @include page-width;
  }
}

#content {
  @include page-width;
  @include clearfix;
  position: relative;
}

ol#rentals {
  margin: 0;
  padding: 20px;
  float: left;
  list-style-type: none;
  width: 500px;

  li.rental a {
    @include clearfix;
    position: relative;
    display: block;
    padding: 10px;

    &.active {
      background: $very-light-grey;
    }

    .thumbnail {
      float: left;
      width: 60px;
      height: 60px;
      background-color: $light-grey;
      margin-right: 10px;
    }

    .content {
      float: left;

      .short-description, .neighborhood {
        width: 200px;
      }

      .neighborhood {
        margin-top: 5px;
      }
    }

    .rent {
      float: right;
      width: 130px;

      .rent-per {
        font-size: .8rem;
      }
    }
  }
}

#rental-content {
  position: relative;
  width: 60%;
  float: left;
  padding: 1rem;

  h3 {
    margin-top: 0;
  }

  address {
    margin: 20px 0;
    span {
      display: block;
    }
  }

  .financial {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-weight: bold;

    span {
      display: block;
    }
  }
}