---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=12565%20Washington%20Blvd,%20Los%20Angeles%20CA%2090066&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "12565",
                       "short_name" : "12565",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "West Washington Boulevard",
                       "short_name" : "W Washington Blvd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Culver - West",
                       "short_name" : "Culver - West",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=727%20North%20Broadway,%20Los%20Angeles%20CA%2090012&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_componen[...]
